@media screen and (max-width: 1280px) {
    section.showcase {
        padding-top: 30px;
    }
    section.showcase h2 {
        font-size: 20px;
    }
    section.showcase.game img {
        margin-top: 0;
        height: 171px;
    }
    section.showcase,
    main#cases section.showcase:first-child {
        height: auto;
        padding-bottom: 40px;
    }
    main#about-me>section#skills,
    main#about-me>section#contact {
        padding-top: 50px;
        padding-bottom: 110px;
    }
    #about-me #me img {
        position: absolute;
        bottom: 0;
    }
    .skill-showcase {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 991px) {
    main#cases {
        grid-template-columns: auto;
    }
    main#cases section.showcase:first-child {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    section.showcase.game img {
        height: auto;
    }
    #profile {
        bottom: 17%;
    }
    #about-me #me img {
        bottom: auto;
    }
}

@media screen and (max-width: 767px) {
    section.showcase {
        grid-template-columns: auto;
    }
    section.showcase figure {
        grid-row-start: 1;
    }
    section.showcase article {
        grid-row-start: 2;
    }
    section#portfolio-slider {
        background-size: 600px auto;
    }
    .card-carousel .my-card .left,
    .card-carousel .my-card .right {
        display: none;
    }
    #profile {
        bottom: 11%;
    }
    #profile h1 {
        font-size: 20px;
    }
    #profile p {
        font-size: 14px;
    }
    main#about-me,
    form.wpcf7-form {
        grid-template-columns: 1fr;
    }
    main#about-me>section#me {
        grid-column-start: 1;
        grid-row-start: 1;
        padding-top: 50px;
    }
    main#about-me>section#me img {
        position: static;
    }
    section#skills {
        grid-row-start: 2;
    }
    .wpcf7-form label {
        width: 100%;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        max-width: 100%;
    }
    #submit {
        float: none;
    }
    .last-column p:last-of-type {
        text-align: center;
    }
}